@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

#__next {
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 0%, #000000 30%) fixed, url("/images/bg.jpg") no-repeat fixed;
  background-size: 100%;
}

:root {
  --grid-columns-num: 4;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: inherit;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
  box-sizing: border-box;
  overflow: visible;
}

.hideHack {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

main.fit {
  /*height: 100vh;*/
  width: 100%;
  /*padding-top: 56px;*/
}

.content {
  /*height: calc(100vh - 56px);*/
  /*padding: 16px 0 112px;*/

  overflow: auto;

  display: grid;
  gap: 24px;
}

.content::after {
  content: '';
  height: 80px;
}

button.create {
  height: 64px;
  width: 64px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 24px;

  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all ease 150ms;
}

button.create:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media all and (min-width: 672px) {
  :root {
    --grid-columns-num: 8;
  }
}

@media all and (min-width: 1088px) {
  :root {
    --grid-columns-num: 16;
  }
}
